
.issue-name {
  text-align: right;
  h2 {
    color: grb(84, 89, 95);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 1.625 rem;
    line-height: 1;
  }
}
.i20221116-header, /* obsolete */
.issue-navigator {
  text-align: right;
  margin-top: -1.4em;

  h2 { /* obsolete */
    color: grb(84, 89, 95);
    font-family: Roboto, sans-serif;
    font-weight: 600;
    padding: 0;
    margin: 0;
    font-size: 1.625 rem;
    line-height: 1;
  }
  span {
    font-size: 0.8em;
  }
  a {
    text-decoration: underline;
  }
}

/*
 * category widget,
 * category toc widget
**/
.CategoryWidget {
  min-height: 300px;
  h2 {
    margin: 0;
    padding: 0;
  }
  .item-outer {
    /* background: #f5f9b3; */
    background: white;

    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 5px 10px #888888;
    padding: 0.5em;
    margin-bottom: 2em;
  }
}
.CategoryWidget,
.CategoryTocWidget {
  h5 {
    margin-bottom: 0;
  }
  .header {
    position: relative;
    z-index:0;

    h1 {
      /* border-bottom: 5px solid #888888; */
      border-right: 0.5em solid #ffff52;

      margin-bottom: 0.5em;
      padding-right: 0.5em;
      position: relative;
      text-align: right;
      height: 40px;
      overflow: hidden;
      z-index: 5;

      a {
        color: #ffff52;
        text-shadow: 2px 2px #888888;
        position: relative;
        z-index: 2;

      }
    }

    .line-1 {
      width: 200px;
      height: 150px;
      background: #888888;
      -webkit-transform:
          /* translateY(-20px)
          translateX(5px) */
          rotate(-37deg);
      position: absolute;
      top: -25px;
      right: -25px;
      z-index: 1;
    }

    &:after {
      content: "";
      background: #888888;
      position: absolute;
      top: 35px;
      right: 0;
      height: 5px;
      width: 75%;
    }
  }
}

.CategoryTocWidget {
  .meta {
    margin-left: 1em;
    margin-bottom: 2em;
    color: gray;

  }
}

.elementor .CategoryPreviewsWidget,
.CategoryPreviewsWidget {
  .item-outer {
    margin-top: 1.6em;
  }
  img {
    max-width: 400px;
  }
}


/*
 * Category Video Widget
**/
.CategoryVideoWidget {
  h1 {
    border-bottom: 1px solid gray;
    margin: 1rem 0;
    text-align: right;
  }
  h2 {
    margin-bottom: 0;
  }
  .description {
    padding-bottom: 2rem;
    border-bottom: 2px solid gray;
    .thumb {
      text-align: center;
    }
  }

  ul.actions {
    list-style: none;
    text-align: center;
    margin-top: 0rem;
    li {
      border: 1px solid gray;
      display: inline;
      padding: 1rem;
      a {
        text-decoration: underline;
        text-align: center;
      }
    }
  }
}


/*
 * Recent posts
**/
.RecentPosts .header {
  border-bottom: 1px solid gray;
  margin: 1rem 0;
  text-align: right;
}
.RecentPosts h2 {
  margin: 0;
}

.RecentPosts .item {
  margin-bottom: 1.6rem;
}
.RecentPosts .item .divider-trash {
  border: 1px solid gray;
  margin: 1rem 0;
  width: 100%;
  height: 2px;
}
.RecentPosts .item:last-child .divider{
  border: 0;
}


/* myLogin */
.myLogin .button.wp-hide-pw {
  display: none;
}
.myLogin h2 {
  text-align: center;
}
.myLogin form {
  border: 0px solid black;
}
.myLogin form .forgetmenot {
  float: none;
  /* margin-bottom: 0.6em; */
}
.myLogin .flex-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.myLogin p.submit {
  margin: 0;
}
.elementor .myLogin hr {
  border: 1px solid red;
  margin-bottom: 2em;
}

